body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.maze {
  margin: auto;
  padding: auto;
  width: 500px;
  height: 490px;
  border: 1px solid black;
}

.logo {
  vertical-align: middle;
  width: 15%;
  height: auto;
}

.action-bar {
  margin: 15px;
}

.btn {
  border: 2px solid;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: .3;
}

.status-bar {
  margin: 15px;
  white-space: pre-wrap;
  max-height: 100px;
  overflow: scroll;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 95%;
  text-align: right;
  padding-bottom: 20px;
}