.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maze {
  margin: auto;
  padding: auto;
  width: 500px;
  height: 490px;
  border: 1px solid black;
}

.logo {
  vertical-align: middle;
  width: 15%;
  height: auto;
}

.btn {
  border: 2px solid;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: .3;
}

.status-line {
  margin: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 95%;
  text-align: right;
  padding-bottom: 20px;
}